* {
  padding: 0;
  margin: 0;
  border: 0;
  /* background-color: #EBE7E7; */
}

:root{
--purple-maincolor:#5652C7;
--green-maincolor: #74DA23;
--black-logincolor: #000000;
--red-deletebutton: #A9080B;
--blue-editbutton: #0069BF;
 }
